h2 {
	text-align: center;
	font-family: palatino;
	padding: 25px;
	background-color: #660033
}

.simple {
	text-align: center;
	font-family: palatino;
	padding: 25px;
	background-color: #5A5AA9
}

img {
	height: 300px
}

p {
	font-style: oblique;
	}

