footer {
    margin-top: 2em;
    text-align: center;
    font-family: impact;

}

h5 {
    font-style: oblique;
}

html {
    background-color: #fff;
}

nav {
    text-align: center;
    color: #000000;
    font-family: impact;
}

h1 {
    text-align: center;
    color: black;
    font-family: palatino;
}

a:hover {
    color: orange;
}

a {
    text-decoration: none;
}

.contact {
    margin-left: 30px;
}

.logo {
    height: 100px;
    width: 100px;
    padding: 90px;
}

.search {
    padding: 60px;
}

#search {
    padding-bottom: 15px;
}